@model  ProjeS.ViewModel.vmSinavIlan
@{
    Layout = null;


    ProjeS.Models.SinavİlanEntities2 data = new ProjeS.Models.SinavİlanEntities2();

}



<!doctype html>
<html lang="en">
<head>
    <title>Sınav Duyuru</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="/İlanWeb/images/logo.jpg" rel="icon">
    <link href="/İlanWeb/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/İlanWeb/css/style.css">

</head>
<body>

    <header id="">

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">


                <a href="/Giris/Index" class="btn btn-info">Sisteme Giriş Yap</a>

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h1 class="heading-section">Sınav İlan Alanı</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="table-wrap">
                        <table class="table" id="datatbl">
                            <thead class="thead-primary">
                                <tr>
                                    <th>Ders Adı</th>
                                    <th>Bölüm Adı</th>
                                    <th>Salon Adı</th>
                                    <th>Tarih</th>
                                    <th>Saat</th>
                                    <th>Açıklama</th>


                                </tr>
                            </thead>
                            <tbody id="messagesTable"></tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/İlanWeb/js/jquery.min.js"></script>
    <script src="/İlanWeb/js/popper.js"></script>
    <script src="/İlanWeb/js/bootstrap.min.js"></script>
    <script src="/İlanWeb/js/main.js"></script>

    <script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>

    <script>
        $(function () {

            // Hub sınıfına bağlanarak timer'ın aktifleştirilmesi
            var connection = $.connection.hubdata;

            // Sınıf içerisindeki fonksiyon servisinden dönen datayı alma işlemi.
            connection.client.addData = function (message) {
                console.log(message);
                var tbl = $('#messagesTable');
                tbl.empty();
                var i = 1;
                $.each(message, function (key, value) {
                    tbl.append('<tr>' + '<td>' + message.sinavIlanListesi[0].dersAdi + '</td>' + '<td>' + message.sinavIlanListesi[0].bolumAdi + '</td>' + '<td>' + message.sinavIlanListesi[0].salonAdi + '</td>' + '<td>' + message.sinavIlanListesi[0].tarih + '</td>' + '<td>' + message.sinavIlanListesi[0].saat + '</td>' +
                        '<td>' + message.sinavIlanListesi[0].aciklama + '</td>' +'</tr>');
                    i = i + 1;
                });

            }
            // Bağlantıyı gerçekleştir.
            $.connection.hub.start();

        });

    </script>

</body>
</html>